<!DOCTYPE html>
<html>
  <head>
    <title>Credit Card Fraud Detection Web App</title>
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>


    <div class="ml-container">
      <p style="text-align: center">
        Enter Transaction ID:
      </p>
       <form action="{{ url_for('predict')}}" method="POST" enctype="multipart/form-data">
        <!-- <input type="text" name="comment"/> -->
        <div class="justify">
            <textarea name="message" rows="1"></textarea>
        </div>
        <br/>

        <div>
            <p style="...">
                Select Model:
            </p>
            <select name="choice">
                <option value="lstm">LSTM-RNN Model</option>
                <option value="xgb">XGB Model</option>
            </select>
        </div>
        <br><br>

        <input type="submit" class="btn-info" value="PREDICT" />
      </form>
    </div>
  </body>
</html>
